.row {
    width: 100%;
    padding: 1% 1%;
    font-family: "Work Sans", sans-serif;
    color: #fff;
}

.modal-content {
    font-family: "Work Sans", sans-serif;
    background-color: rgb(30, 30, 30);
    color: #fff;
}

#addExpenseForm input, #addExpenseForm label {
    margin-top: 2%;
}

.expense-container {
    margin-top: 2%;
    background-image: linear-gradient(to bottom right, rgb(30, 107, 213), rgb(10, 10, 10));
    padding: 0.5% 1%;
    border-radius: 8px;
    transition: 0.3s;
}

.expense-container:hover {
    transform: scale(1.01);
    transition: 0.3s;
}

.delete-expense-btn {
    background-color: rgb(25, 25, 25);
    border: 1px solid #ff1000;
    color: #ff1000;
    border-radius: 5px;
    transition: 0.3s;
}

.delete-expense-btn:hover {
    background-color: #ff1000;
    border: 1px solid #ff1000;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}