{{template "base" .}}

{{define "title"}}
    Expenses Table
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/expenses-table.css">
{{end}}

{{define "content"}}
    <!-- add expense modal -->
    <div class="modal fade" id="addExpenseModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">ADD EXPENSE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
                </div>
                <form method="post" id="addExpenseForm" action="">
                    <div class="modal-body">
                        <input type="text" name="expenseName" placeholder="Expense Name" class="form-control">
                        <input type="text" name="expenseCategory" placeholder="Category" class="form-control">
                        <input type="number" name="expenseAmount" placeholder="Amount" class="form-control">
                        <label for="expenseColor">Choose color for category:</label>
                        <input type="color" name="expenseColor" placeholder="Category Color" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add Expense</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- search results modal -->
    {{if .PostData}}
        <div class="modal show fade d-block" id="searchResultsModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">SEARCH RESULTS</h1>
                        <a href="/expenses-table" class="btn-close" aria-label="Close" style="background-color: #fff;"></a>
                    </div>                
                    <div class="modal-body">
                        <h5>"{{index .PostData "searchResultsLength"}}" Results Found</h5>
                        {{$searchResults := index .PostData "searchResults"}}
                        <div style="width: 100%; overflow-x: scroll;">
                            <table class="table table-dark table-striped table-hover" style="margin-top: 1.5%;">
                                <thead>
                                    <td>Name</td>
                                    <td>Category</td>
                                    <td>Amount</td>
                                    <td>Date</td>
                                    <td>Time</td>
                                    <td style="color: #ff1000;"><i class="fa-solid fa-trash-can"></i></td>
                                </thead>
                                {{range $result := $searchResults}}
                                    <tr>
                                        <td>{{$result.Name}}</td>
                                        <td>{{$result.Category}}</td>
                                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{$result.Amount}}</td>
                                        <td>{{$result.Date}}</td>
                                        <td>{{$result.CreatedAt}}</td>
                                        <td>
                                            <form method="post">
                                                <input type="hidden" name="deleteExpenseID" value="{{$result.ID}}">
                                                <button type="submit" class="delete-expense-btn"><i class="fa-solid fa-trash-can"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                {{end}}
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-dark" href="/expenses-table">Close</a>
                        <a class="btn btn-success" href="/expenses-table">OK</a>
                    </div>
                </div>
            </div>
        </div>
    {{end}}

    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <h3>Your Expenses</h3>
            <div class="btn-group gap-1">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExpenseModal"><i class="fa-solid fa-plus"></i> Add Expense</button>
                <a href="/expenses" class="btn btn-primary"><i class="fa-solid fa-table"></i> List View</a>
            </div>
            <div style="width: 100%; overflow-x: scroll;">
                <table class="table table-dark table-striped table-hover" style="margin-top: 1.5%;">
                    <thead>
                        <td>Name</td>
                        <td>Category</td>
                        <td>Amount</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td style="color: #ff1000; text-align: center;"><i class="fa-solid fa-trash-can"></i></td>
                    </thead>
                    {{$expenses := index .Data "expenseList"}}
                    {{range $expense := $expenses}}
                        <tr>
                            <td>{{$expense.Name}}</td>
                            <td>{{$expense.Category}}</td>
                            <td><i class="fa-solid fa-indian-rupee-sign"></i> {{$expense.Amount}}</td>
                            <td>{{$expense.Date}}</td>
                            <td>{{$expense.CreatedAt}}</td>
                            <td style="text-align: center;">
                                <form method="post">
                                    <input type="hidden" name="deleteExpenseID" value="{{$expense.ID}}">
                                    <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></button>
                                </form>
                            </td>
                        </tr>
                    {{end}}
                </table>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <h3>Analysis</h3>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <td>Category</td>
                    <td>Expenditure</td>
                </thead>
                {{$categories := index .Data "expenseCategoryList"}}                
                {{range $category := $categories}}
                    <tr>
                        <td>{{$category.Category}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{$category.TotalExpenditure}}</td>
                    </tr>
                {{end}}
            </table>
            <canvas id="categoryShareChart" style="width: 100%; height: 100%; background-color: rgb(10, 10, 10);"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- chart.js-->
    <script>
        var labels = JSON.parse('{{index .Data "expenseCategories"}}')
        var values = JSON.parse('{{index .Data "expenditureAmounts"}}')
        var colors = JSON.parse('{{index .Data "colorList"}}')
        var ctx = document.getElementById("categoryShareChart").getContext("2d");
        var analysisChart = new Chart(ctx, {
            type: "pie",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Expenditure",
                        data: values,                        
                        backgroundColor: colors,
                        borderColor: "rgb(255, 255, 255)",
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: "Expense Categories Chart",
                        font: {
                            family: "'Work Sans', sans-serif",
                            size: 20,
                            weight: "normal",
                        },
                        color: "#fff",
                    }
                }
            }
        });
    </script>
{{end}}
