{{template "auth_layout" .}}

{{define "title"}} Login {{end}}

{{define "css"}} <link rel="stylesheet" type="text/css" href="/static/css/login.css"> {{end}}

{{define "content"}}
    <form method="post">
        <h3>Register</h3>
        <input type="text" name="username" placeholder="Username" class="form-control" required>        
        <input type="email" name="email" placeholder="Email Address" class="form-control" required>
        <input type="password" name="password" placeholder="Password" class="form-control" required>
        <input type="password" name="passwordConfirm" placeholder="Confirm Password" class="form-control" required>
        <a href="/login" class="btn btn-sm link-btn">Or login</a>
        <button type="submit" class="btn btn-primary" style="margin-top: 0.5%;">Enter</button>
    </form>
{{end}}